<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Table</title>

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        table,
        th,
        td {
            border-collapse: collapse;
            padding: 8px;
        }

        tr {
            border-bottom: 1px solid rgb(227, 237, 227);
        }

        tr:hover {
            background-color: rgb(245, 239, 239);
        }
    </style>
</head>



<body>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Roll Number</th>
                <th>Class</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Prince</td>
                <td>21</td>
                <td>10th</td>
            </tr>
            <tr>
                <td>Rohan</td>
                <td>20</td>
                <td>12th</td>
            </tr>
        </tbody>

    </table>
</body>

</html>